<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Automation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Automation.Properties.Settings>
            <setting name="DatabaseFile" serializeAs="String">
                <value>automation.db</value>
            </setting>
            <setting name="GroupMeTorrentBot" serializeAs="String">
                <value />
            </setting>
            <setting name="GroupMeAutomationBot" serializeAs="String">
                <value />
            </setting>
            <setting name="GroupMeAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="GroupMeGroupId" serializeAs="String">
                <value />
            </setting>
        </Automation.Properties.Settings>
    </applicationSettings>
</configuration>